* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
@import './base/background';
/* Components */
@import './component/index';
@import './component/perros';
@import './component/gatos';
@import './component/adoptados';
@import './component/footer';
@import './component/medias';







