/* Estilos de todos los html*/
body{
    background-image: radial-gradient(circle, #1285eb, #2563c1, #264498, #202670, #14094a);
}
nav{
    width: 100%;
}

.bienvenida{
    margin-top: 25%;
}
.container h1{
    text-align: center;
    margin-top: 20%;
}
.footer{
    display: flex;
    justify-content: center;
    justify-items: end;
}
 footer{
    background-color: rgb(86, 36, 119);
    width: 100%;
    height: 100px;
    display: inline-block; 
}
.footer li{
    background-color: rgba(202, 135, 135, 0.767);
    display: inline-block;   
    list-style: none;
    font-weight: bold;
    margin-left: 80px;
    font-size: 25px;
    font-family: 'Crimson Pro', serif;   
    padding: 15px;
    border-style: groove;
    border-color: black;
    border-width: 3px;
    height: 25px;
    width: 100px;
    text-align: center;
}
.footer a{
    text-decoration: none;
    color: black;

}

/* Fin estilos de todos los HTML */

/* Estilos index.html */



#bienvenida img{
    width: 100%;
    margin-left: 0%;
    border-style: groove;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
}

#bienvenida p{
    font-weight: bolder;
    font-family: 'Crimson Pro', serif;
    text-align: start;
}

#ejemplos p{
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Crimson Pro', serif;
    margin-top: 5%;
    text-align: center;
}
.mascotas{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-left: 10%;
}
.mascotas img{
    width: 100%;
    height: 100%;
    display: inline-block;
    margin-left: 20%;
    margin-bottom: 0%;
    border-style: groove;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    box-shadow: rgb(206, 209, 248) 5px 10px;
    transition: 1000ms;
}
.mascotas img:hover{
    transform: scale(1.15);
    box-shadow: rgb(0, 0, 0) 5px 10px;
    border-color: rgb(206, 209, 248);
}

/* Fin estilos index.html */

/* Inicio estilos perros.html */

.perros{
   margin-top: 11%;
    display: flex;
    flex-wrap: wrap;
}

.perros img{
    width: 25%;
    height: 15%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    border-style: groove;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    box-shadow: rgb(9, 107, 199) 5px 10px;
    transition: 1000ms;
}
.perros img:hover{
    transform: scale(1.15);
    box-shadow: rgb(0, 0, 0) 5px 10px;
    border-color: rgb(206, 209, 248);
}

/* Fin estilos perros.html */

/* Inicio estilos gatos.html */

.gatos{
    margin-top: 11%;
    display: flex;
    flex-wrap: wrap;
}

.gatos img{
    width: 25%;
    height: 15%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    box-shadow: rgb(206, 209, 248) 5px 10px;
    transition: 1000ms;
}
.gatos img:hover{
    transform: scale(1.15);
    box-shadow: rgb(0, 0, 0) 5px 10px;
    border-color: rgb(206, 209, 248);
}
/* fin estilos gatos.html */

/*  inicio estilos adoptados.html */

#adoptados{
    margin-top: 11%;
    display: flex;
    flex-wrap: wrap;
    
}
#adoptados p{
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Crimson Pro', serif;
    text-align: center;
}
.texto1{
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Crimson Pro', serif;
    margin-top: 5%;
    margin-left: 5%;
    text-align: center;
}

.adoptados img{
    width: 25%;
    height: 15%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    box-shadow: rgb(206, 209, 248) 5px 10px;
    transition: 1000ms;
}
.adoptados img:hover{
    transform: scale(1.15);
    box-shadow: rgb(0, 0, 0) 5px 10px;
    border-color: rgb(206, 209, 248);
}
/* Mobile */
@media only screen and (max-width: 480px){
    .navbar ul li{
        display: inline;
        font-size: 10px;
        margin-left: 0px;
        width: 40px;
    }

    .introduccion{
        margin-top: 30%;
    }

    .introduccion p{
        font-size: 11px;
        margin-right: 20%;
        margin-top: 0%;
    }
    .texto2{
        font-size: 15px;
        font-weight: bolder;
        font-family: 'Crimson Pro', serif;
        margin-left: 20%;
        margin-top: 5%;
        text-align: center;
    }
    .texto1{
        font-size: 15px;
        font-weight: bolder;
        font-family: 'Crimson Pro', serif;
        margin-top: 20%;
        margin-left: 5%;
        text-align: center;
    }

    .footer ul li{
        display: inline;
        font-size: 10px;
        margin-left: 0px;
        width: 40px;
    
    }
}
/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 960px) {

.navbar ul li{
    display: inline;
    font-size: 15px;
    width: 50px;
    margin-left: 5px;
    height: 20px;
}

.introduccion p{
    font-size: 15px;
    margin-top: 0;
    margin-right: 10%;
}

.ejemplos{
    margin-top: 0%;
}

.adoptados p{
    margin-top: 10%;
}

.texto2{
    font-weight: bolder;
    font-family: 'Crimson Pro', serif;
    margin-left: 20%;
    margin-top: 5%;
    text-align: center;
}
.texto1{
    font-weight: bolder;
    font-family: 'Crimson Pro', serif;
    margin-top: 20%;
    margin-left: 5%;
    text-align: center;
}

.footer ul li{
    display: inline;
    font-size: 10px;
    margin-left: 0px;
    width: 40px;

}
}
/* Desktop */
@media only screen and (min-width: 961px) and (max-width: 1024px){
    
.navbar ul li{
    display: inline;
    font-size: 15px;
    margin-left: 50px;
}

.introduccion p{
    margin-top: 0;
}

.adoptados p{
    margin-top: 10%;
    text-align: center;
}
.texto2{
    font-weight: bolder;
    font-family: 'Crimson Pro', serif;
    margin-left: 35%;
    margin-top: 5%;
}
.texto1{
    font-weight: bolder;
    font-family: 'Crimson Pro', serif;
    margin-top: 20%;
    margin-left: 5%;
}
}



