#gatos{
    p{
        font-size: 25px;
        font-weight: bolder;
        font-family: 'Crimson Pro', serif;
        text-align: center;
    }
    .png-uno{
        width: 50%;
        margin-left: 40%;
    }
    .png-dos{
        width: 50%;
        margin-left: 10%;
    }
    .card{
        @extend %card;

    
        &:hover{
            @include card-hover(scale(1.15));
            box-shadow: $card-hover;
        }
        .btn{
            background-color: $btn-card;
        }
    }
    
}