#bienvenida{
    h1{
        text-align: center;
        margin-top: 20%;
    }

    & img{
        margin-top: 6%;
        width: 100%;
        box-shadow: $card-shadow;
    }

    p{
        font-weight: bolder;
        font-family: 'Crimson Pro', serif;
    }
}

#ejemplos{

    p{
        font-size: 25px;
        font-weight: bolder;
        font-family: 'Crimson Pro', serif;
        margin-top: 5%;
        text-align: center;
    }

    section{

        .mascotas{
             
            .card{
                @extend %card;

                &:hover{
                    @include card-hover(scale(1.15));
                    box-shadow: rgb(28, 126, 88) 10px 10px;
                }

                .btn{
                    background-color: $btn-card;
                }
            }
           
            display: flex;
            flex-wrap: wrap;
            margin-top: 5%;
            margin-left: 5%;
        }

    }
}




