/* Mobile */
@media (max-width: 767px){
    footer{
        height: 100px;
    }
    footer li{
        margin-top: 0%;
        margin-left: 12%;
        display: flex;
        display: inline-block;
        list-style: none;
    }
    
     footer img{
        width: 200%;
     }

}
@media (min-width: 768px){
    footer{
        height: 100px;
        
    }
    footer li{
        & img{
            width: 300%;
        }
        margin-top: 1%;
        margin-left: 15%;
        margin-right: 0%;
        display: inline-flex;
    }
     
}
@media (min-width: 576px) and (max-width: 768px){
    #gatos{
        
        .png-dos{
            margin-left: 40%;
        }
    }


}

