/* Mobile */


@media (min-width: 768px) {
    footer li{
        margin-top: 0%;
        margin-left: 0%;
        display: flex;
        display: inline-block;
        list-style: none;
    }
    
     footer img{
        margin-top: 15%;
        width: 30%;
     }

}

@media (max-width: 768px){
footer{
    height: 150px;
}
footer li{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    display: inline-flex;
}
footer img{
    width: 20%;
}

footer li a{
    font-size: medium;
}
}