#perros{
    p{
        font-size: 25px;
        font-weight: bolder;
        font-family: 'Crimson Pro', serif;
        text-align: center;
    }
    .png-uno{
        width: 50%;
        margin-left: 40%;
    }
    .png-dos{
        width: 50%;
        margin-left: 10%;
    }
    .card{
        box-shadow: rgb(28, 126, 88) 20px 20px;
        transition: 1000ms;
        margin-bottom: 15%;
    
        &:hover{
            transform: scale(1.15);
            box-shadow: rgb(28, 126, 88) 10px 10px;
        }
    }
    
}